### Data Structures

### List

In [1]:
#List creation
l1 = []  # empty list

In [2]:
type(l1)

list

In [3]:
Group = ['Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi']
Group

['Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi']

### Add Remove & change Items

In [4]:
Group.append('Ram')

In [5]:
Group

['Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi', 'Ram']

In [6]:
Group.insert(2,'Komal')

In [11]:
Group

['Vaish', 'Krish', 'Komal', 'Om', 'Gayatri', 'Aditi', 'Ram']

In [14]:
Group.extend(['Sujit', 'Sumit', 'Priya'])

In [15]:
Group

['Vaish',
 'Krish',
 'Komal',
 'Om',
 'Gayatri',
 'Aditi',
 'Ram',
 'Sujit',
 'Sumit',
 'Priya']

#### Delete Elements

In [20]:
Group.pop()

'Priya'

In [21]:
Group

['Vaish', 'Krish', 'Komal', 'Om', 'Gayatri', 'Aditi', 'Ram', 'Sujit', 'Sumit']

In [23]:
Group.pop(6)
Group

['Vaish', 'Krish', 'Komal', 'Om', 'Gayatri', 'Aditi', 'Sumit']

In [26]:
Group.remove('Komal')

ValueError: list.remove(x): x not in list

In [28]:
Group.clear()
Group

[]

In [29]:
del Group

In [30]:
Group

NameError: name 'Group' is not defined

In [27]:
Group

['Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi', 'Sumit']

#### List indexing & slicing

In [17]:
Group[0:3]

['Vaish', 'Krish', 'Komal']

In [18]:
Group[5]

'Aditi'

In [19]:
Group[0:6:2]

['Vaish', 'Komal', 'Gayatri']

### Join List

In [31]:
Group1 = ['Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi']
Group2 = ['Mau', 'Tau', 'Chakuli']

In [32]:
Cousins = Group1 + Group2
Cousins

['Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi', 'Mau', 'Tau', 'Chakuli']

### List Membership

In [33]:
'Vaish' in Cousins

True

In [35]:
'Vaishnavi' in Cousins

False

### Reverse & sort list

In [36]:
Cousins

['Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi', 'Mau', 'Tau', 'Chakuli']

In [37]:
Cousins.reverse()
Cousins

['Chakuli', 'Tau', 'Mau', 'Aditi', 'Gayatri', 'Om', 'Krish', 'Vaish']

In [39]:
Cousins.sort()
Cousins

['Aditi', 'Chakuli', 'Gayatri', 'Krish', 'Mau', 'Om', 'Tau', 'Vaish']

In [41]:
Cousins.sort(reverse = True)
Cousins

['Vaish', 'Tau', 'Om', 'Mau', 'Krish', 'Gayatri', 'Chakuli', 'Aditi']

### All / Any

In [55]:
all() 

True -> all elements true
False -> any element false

any()
any element true -> true
all elements  false -> False

SyntaxError: invalid syntax (1056139887.py, line 3)

In [42]:
l1 =[1,2,3,4,5]
l2 = [1,2,6,0]

In [45]:
all(l1)

True

In [46]:
all(l2)

False

In [47]:
any(l1)

True

In [48]:
any(l2)

True

In [49]:
l3 = [0,0,0]

In [52]:
any(l3)

False

### Tuple

In [56]:
tup1 = ()       #Empty tuple

In [57]:
type(tup1)

tuple

In [59]:
tup1 = (1, 2, 3, 4)
tup2= (1.2, 2.2, 3.2, 4.2)
tup3= ('aa', 'bb', 'cc')
tup4= (1, 1.2, 'aa')

In [61]:
print(tup1)
print(tup2)
print(tup3)
print(tup4)

(1, 2, 3, 4)
(1.2, 2.2, 3.2, 4.2)
('aa', 'bb', 'cc')
(1, 1.2, 'aa')

In [62]:
# Tuple membership

'aa' in tup3

True

In [63]:
#Tuple indexing

tup2[1]

2.2

In [64]:
#Tuple Slicing
tup3[0:2:1]

('aa', 'bb')

#### Remove & Change Elements

In [65]:
#Tuple is immutable
mytuple = ('AA', 'BB', 'CC', 'dd')

In [66]:
del mytuple[2]

TypeError: 'tuple' object doesn't support item deletion

In [67]:
mytuple[1] = 1

TypeError: 'tuple' object does not support item assignment

In [68]:
del mytuple

In [69]:
mytuple

NameError: name 'mytuple' is not defined

### Count

In [71]:
M1 = ('Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi', 'Vaish', 'Vaish')

In [72]:
M1.count('Vaish')

3

### Sorting

In [73]:
M1

('Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi', 'Vaish', 'Vaish')

In [74]:
sorted(M1)

['Aditi', 'Gayatri', 'Krish', 'Om', 'Vaish', 'Vaish', 'Vaish']

In [75]:
sorted(M1, reverse = True)

['Vaish', 'Vaish', 'Vaish', 'Om', 'Krish', 'Gayatri', 'Aditi']

### Sets

In [76]:
myset = {} #Empty set can't be created using curly brace

In [77]:
myset = set() # creating an empty set

In [78]:
print(type(myset))

<class 'set'>

In [79]:
myset = {1, 2, 4, 2, 5, 6}
myset               #duplicates are not allowed

{1, 2, 4, 5, 6}

In [81]:
myset = {1.2, 4.5, 7.7}
myset

{1.2, 4.5, 7.7}

In [82]:
myset = {'Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi'}
myset

{'Aditi', 'Gayatri', 'Krish', 'Om', 'Vaish'}

In [83]:
#set membership

'Aditi' in myset

True

### Add & Remove Elements

In [84]:
myset

{'Aditi', 'Gayatri', 'Krish', 'Om', 'Vaish'}

In [87]:
myset.add('Ram')
myset

{'Aditi', 'Gayatri', 'Krish', 'LLL', 'Om', 'Ram', 'Vaish'}

In [ ]:
#indexing not supported in sets

In [88]:
myset.update(['aa', 'bb', 'cc'])
myset

{'Aditi', 'Gayatri', 'Krish', 'LLL', 'Om', 'Ram', 'Vaish', 'aa', 'bb', 'cc'}

In [100]:
myset.pop()  #delete random element

'Om'

In [99]:
myset

{'LLL', 'Om', 'Ram', 'aa'}

In [101]:
myset = {'Vaish', 'Krish', 'Om', 'Gayatri', 'Aditi'}

In [102]:
myset

{'Aditi', 'Gayatri', 'Krish', 'Om', 'Vaish'}

In [104]:
myset.remove('Om')
myset

KeyError: 'Om'

In [105]:
myset

{'Aditi', 'Gayatri', 'Krish', 'Vaish'}

In [106]:
myset.discard('Vaish')
myset

{'Aditi', 'Gayatri', 'Krish'}

In [107]:
myset.clear() #clear all elements
myset

set()

In [108]:
del myset

### Set Operation

In [109]:
A = {1,2,3,4,5}
B = {5,6,7,8}
C = {7,8,9}

In [110]:
A.union(B)  #Union of A & B

{1, 2, 3, 4, 5, 6, 7, 8}

In [111]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
A.intersection(B)

{5}

In [114]:
B.intersection(C)

{7, 8}

In [115]:
A.difference(B)

{1, 2, 3, 4}

In [116]:
B.difference(C)

{5, 6}

## Dictionary

In [1]:
mydict = dict() #empty dict
newdict = {}

In [2]:
type(mydict)
type(newdict)

dict

In [3]:
mydict = {1:'one', 2:'two', 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict.keys() # return only key values

dict_keys([1, 2, 3])

In [5]:
mydict.values() #return only values

dict_values(['one', 'two', 'three'])

In [6]:
mydict.items() #returns item i.e key value pair

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [9]:
dict = {0:{'one':1, 'two':2, 'three':3},
        1:{'city': 'Pune', 'area': 'magarpatta'}}

In [10]:
dict[0]

{'one': 1, 'two': 2, 'three': 3}

In [12]:
dict[1]['area']

'magarpatta'

In [15]:
mydict1 = {'name': 'Vaishnavi','ID': 12345, 'DOB' : 1991}
mydict1

{'name': 'Vaishnavi', 'ID': 12345, 'DOB': 1991}

In [13]:
mydict1['DOB'] = 1992
mydict1

NameError: name 'mydict1' is not defined