# Loops

## While Loop

In [3]:
print('Hello World!')
print('Hello World!')
print('Hello World!')

Hello World!
Hello World!
Hello World!

In [2]:
i = 10
while i > 0 :
    print("Hello Python!!!")
    i = i - 1

Hello Python!!!
Hello Python!!!
Hello Python!!!
Hello Python!!!
Hello Python!!!
Hello Python!!!
Hello Python!!!
Hello Python!!!
Hello Python!!!
Hello Python!!!

In [7]:
#Simple While loop
i=1
while i<6:
    print('While Condition is true', i)
    i=i+1

While Condition is true 1
While Condition is true 2
While Condition is true 3
While Condition is true 4
While Condition is true 5

In [9]:
i=1
while i<6:
    if i==3:
        break
    print(i)
    i+=1

1
2

In [12]:
#While with continue statement

i=0
while i<6:
    i+=1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [13]:
#While loop with else statement

i=1
while i < 6:
    i= i+1
    print(i)
else :
    print('While loop condition is false')

2
3
4
5
6
While loop condition is false

In [14]:
count = 1
while (count < 3):
    count = count + 1
    print("Data Science")

Data Science
Data Science

#### Prime number using while loop

In [3]:
num = int(input('Enter a number : '))
i=2
j=0
while i<=num/2:
    if num%2==0:
        print(i,'is a factor of', num)
        j=1
        break
    i=i+1
    
if j == 0:
    print(num,'is a Prime number')
else :
    print(num, 'is a composite number')

Enter a number : 7
7 is a Prime number

### For loop

In [5]:
fruits = ['apple', 'banana', 'chickoo', 'Mango']
for i in fruits:
    print(i)

apple
banana
chickoo
Mango

In [6]:
queue = [1,2,3,4,5,6,7,8,9,10]
for j in queue:
    print(j)

1
2
3
4
5
6
7
8
9
10

In [7]:
range(1,10)

range(1, 10)

In [8]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
for i in range(2,100,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [12]:
#table of entered number
x =int(input('Enter a number :'))
for i in range(1,11):
    print(i * x)

Enter a number :24
24
48
72
96
120
144
168
192
216
240

In [14]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [16]:
#Task print 34 range
for i in range(34,341,34):
    print(i)

34
68
102
136
170
204
238
272
306
340

In [17]:
#Nested Loop
list1 =['Maths','Science']
list2 =[34,35,36,37]
for i in list1:
    for k in list2:
        print(i,k)

Maths 34
Maths 35
Maths 36
Maths 37
Science 34
Science 35
Science 36
Science 37

In [56]:
#Odd Even
for i in range(1,100):
    if (i%2==0):
        print(i,'is a Even number')
    else :
        print(i, 'is an odd number')

1 is an odd number
2 is a Even number
3 is an odd number
4 is a Even number
5 is an odd number
6 is a Even number
7 is an odd number
8 is a Even number
9 is an odd number
10 is a Even number
11 is an odd number
12 is a Even number
13 is an odd number
14 is a Even number
15 is an odd number
16 is a Even number
17 is an odd number
18 is a Even number
19 is an odd number
20 is a Even number
21 is an odd number
22 is a Even number
23 is an odd number
24 is a Even number
25 is an odd number
26 is a Even number
27 is an odd number
28 is a Even number
29 is an odd number
30 is a Even number
31 is an odd number
32 is a Even number
33 is an odd number
34 is a Even number
35 is an odd number
36 is a Even number
37 is an odd number
38 is a Even number
39 is an odd number
40 is a Even number
41 is an odd number
42 is a Even number
43 is an odd number
44 is a Even number
45 is an odd number
46 is a Even number
47 is an odd number
48 is a Even number
49 is an odd number
50 is a Even number
51 is an odd number
52 is a Even number
53 is an odd number
54 is a Even number
55 is an odd number
56 is a Even number
57 is an odd number
58 is a Even number
59 is an odd number
60 is a Even number
61 is an odd number
62 is a Even number
63 is an odd number
64 is a Even number
65 is an odd number
66 is a Even number
67 is an odd number
68 is a Even number
69 is an odd number
70 is a Even number
71 is an odd number
72 is a Even number
73 is an odd number
74 is a Even number
75 is an odd number
76 is a Even number
77 is an odd number
78 is a Even number
79 is an odd number
80 is a Even number
81 is an odd number
82 is a Even number
83 is an odd number
84 is a Even number
85 is an odd number
86 is a Even number
87 is an odd number
88 is a Even number
89 is an odd number
90 is a Even number
91 is an odd number
92 is a Even number
93 is an odd number
94 is a Even number
95 is an odd number
96 is a Even number
97 is an odd number
98 is a Even number
99 is an odd number

## Functions

In [19]:
#User defined Functions

In [20]:
#syntax defn of function
def name_of_function():
    print('Hello')

In [22]:
#syntax calling the function
name_of_function()

Hello

In [26]:
#create a functn with name as your name
## andwhich print your name

def vaishnavi():
    print('Vaishnavi')

In [27]:
vaishnavi()

Vaishnavi

In [32]:
#Function with argument & return value
def area_of_circle(r):
    area = 3.14*r*r
    return area

In [33]:
area_of_circle(2)

12.56

In [34]:
def perimeter_of_square(side):
    peri = side*4
    print(peri)

In [35]:
perimeter_of_square(5)

20

In [37]:
def rectangle(l,b):
    area=l*b
    return area

In [39]:
rectangle(2,7)

14

In [40]:
#Task -> write a function to get a number from users & check whetther given no is even or odd

In [41]:
def evenodd():
    a = int(input("Enter a number:"))
    if a%2==0:
        print("Even")
    else:
        print('odd')

In [42]:
evenodd()

Enter a number:45
odd

In [43]:
#python function with no argument & no return value

def noargument():
    print()

In [44]:
noargument()

In [46]:
#Function with no argument and with a return value

def argu():
    print('this is no argument bt return value function')

In [47]:
argu()

this is no argument bt return value function

In [48]:
#with argument & no return value

def noreturn(a):
    print()

In [49]:
noreturn(7)

In [53]:
def prime():
    num = int(input('Enter a number : '))
    i=2
    j=0
    while i<=num/2:
        if num%2==0:
            print(i,'is a factor of', num)
            j=1
            #break
        i=i+1
    
    if j == 0:
        print(num,'is a Prime number')
    else :
        print(num, 'is a composite number')

In [54]:
prime()

Enter a number : 9
9 is a Prime number

### Docstring

In [61]:
#function with argument and return value
def squareofnum(a):
    '''Square Function :-> This function will return the square of number'''
    #print(a**2)
    return a**2

In [62]:
squareofnum(8)

64

In [65]:
q = squareofnum(9)

In [66]:
print(q)

81

In [67]:
#to see docstring
print(squareofnum.__doc__)

Square Function :-> This function will return the square of number

In [68]:
help(squareofnum)

Help on function squareofnum in module __main__:

squareofnum(a)
    Square Function :-> This function will return the square of number

### Anonymus Functions :-> Lambda

In [69]:
addition = lambda a : a + 10
#This lambda function adds 10 to argument

In [70]:
print(addition(10))

20

In [71]:
addition(10)

20

In [83]:
product = lambda a, b : a * b

In [84]:
print(product(12,12))

144

### Filter

In [80]:
seq = [0,1,2,3,4,5,56,6]
result = filter(lambda x : x % 2 != 0, seq)
print(list(result))

result = filter(lambda x : x % 2 == 0, seq)
print(list(result))

[1, 3, 5]
[0, 2, 4, 56, 6]

### Map

In [85]:
#Double all number using map & lambda
numbers = (1,2,3,4,5)
result = map(lambda x: x+x, numbers)
print(list(result))

[2, 4, 6, 8, 10]

In [86]:
l = ['sat', 'bat', 'cat', 'mat']
test = list(map(list,l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

### Reduce Function

In [87]:
import functools

list = [1,2,3,4,5,7,6]

print("the sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, list))

the sum of the list elements is : 28

In [88]:
print("The maxm element of the list is :-> ", end='')
print(functools.reduce(lambda a, b : a if a > b else b, list))

The maxm element of the list is :-> 7