## Operators

### Arithmatic operators

In [1]:
a = 5
b = 2
x = 'Data'
y = 'Analytics'

In [3]:
#Addition
c = a + b
print(c)

7

In [4]:
#Substraction
d = a - b
print(d)

3

In [6]:
#multiplication
c = a * b
print(c)

10

In [7]:
#division
c = a / b
print(c)

2.5

In [9]:
#Power
c = a ** b
print(c)

25

In [10]:
#concatenation 
c = x + y
print(c)

DataAnalytics

In [11]:
#floorDivision take integer part of 
c = a // b
print(c)

2

### Comparision Operators

In [20]:
x = 20
y = 30

print('x greater than y -->', x > y) 
print('less than y -->', x < y)
print('greater than equals to y -->', x >= y)
print('less than equals to y -->', x <= y)
print('equals to y -->', x == y)
print('not equals to y -->', x != y)

greater than y --> False
less than y --> True
greater than equals to y --> False
less than equals to y --> True
equals to y --> False
not equals to y --> True

### Logical Operators

In [22]:
x = True
y = False

print("Logical AND Operation -->", x and y)
print("Logical OR Operation -->", x or y)
print("NOT Operation -->",  not y)

Logical AND Operation --> False
Logical OR Operation --> True
NOT Operation --> True

### If Conditional Statement

In [23]:
a = 7

if a > 5 :
    print("Learning Conditional Statements")
print("It's easy")

Learning Conditional Statements
It's easy

In [24]:
a = -88

if a > 0 :
    print("inside if block")
else :
    print("in else block")

in else block

### input Function

In [25]:
a = input("enter your school name : ")

enter your school name : D.R.Girls School

In [26]:
a

'D.R.Girls School'

In [28]:
a = int(input("enter your 10th percetage : "))

enter your 10th percetage : 86

In [29]:
a

86

In [33]:
a = int(input("Enter your 12th percentage"))
if(a<60):
    print("Congratulations, you are allowed for tier 3 collegage")
elif(a==80):
    print("Congratulations, you are allowed for tier 2 collegage")
elif(a>80):
    print("Congratulations, you are allowed for tier 1 collegage")
else :
    print("you're not eligible")

Enter your 12th percentage96
Congratulations, you are allowed for tier 1 collegage

In [35]:
a = int(input("enter a number"))
if(a == 10):
    print(a, "a is smaller than 20")
    if(a > 10):
        print(a, "a is greater than 10")
else:
    print("its not in range")

enter a number25
its not in range

In [70]:
a = int(input("enter a number"))
if(a % 2 == 0):
    print("Its even number")
else : 
    print("Odd Number")

enter a number54
Its even number

## Datetime Package

#### date sub module

In [36]:
from datetime import date

In [37]:
new_date = date(1998,9,21)

In [38]:
new_date

datetime.date(1998, 9, 21)

In [40]:
#today's date
today_date = date.today()
today_date

datetime.date(2024, 5, 15)

In [41]:
today_date.isoweekday()

3

In [44]:
today_date.month

5

In [45]:
today_date.year

2024

#### datetime submodule

In [47]:
from datetime import datetime as dt

In [49]:
date1 = dt.now()
date1

datetime.datetime(2024, 5, 15, 13, 23, 33, 846492)

In [50]:
dt.date()

TypeError: unbound method datetime.date() needs an argument

#### time submodule

In [51]:
from datetime import time

In [53]:
my_time = time(7,8,55)

In [54]:
my_time

datetime.time(7, 8, 55)

#### timedelta

In [55]:
from datetime import date, timedelta

In [57]:
current_date = date.today()

future_date_after_2_years = current_date + timedelta(days=730)
future_date_after_2_years

datetime.date(2026, 5, 15)

In [72]:
from datetime import date, timedelta

In [74]:
current_date = date.today()

birth_date = date(2000,5,7)
birth_date
my_age =current_date - birth_date
my_age

datetime.timedelta(days=8774)

In [ ]:
#Task : 
    #calculate your age after 5000 days
    #output or age should be in years

In [77]:
current_date = date.today()

birth_date = date(2000,5,7)
birth_date
my_age =current_date - birth_date
age_after_5000_days = my_age + timedelta(days=5000)
age_after_5000_days
age_5k = age_after_5000_days // timedelta(days=365)
age_5k

37

In [81]:
current_date = date.today()

birth_date = date(2000,5,7)
age_new = birth_date + timedelta(days=5000)
age_5Kk = age_new // timedelta(days=365)
age_5Kk

TypeError: unsupported operand type(s) for //: 'datetime.date' and 'datetime.timedelta'